@media (max-width: 1400px) and (min-width: 340px) {
    .form-wrap,
    .plan,
    .tool {
        display: block;
        width: 100%;
        margin: 30px auto 0;
    }
    .start .text,
    .start-point .text,
    .destination .text {
        text-align: center;
        width: 90%;
    }
    .tool__item {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    .planet {
        margin-top: -256px;
    }
    .sputnik {
        top: 63%;
        margin-left: -200px;
    }
}

@media (max-width: 1127px) and (min-width: 340px) {
    aside.wrapper__item {
        display: none;
    }
    .sputnik {
        display: none;
    }
}

@media (max-width: 860px) and (min-width: 340px) {
    .plan__item,
    .tool__item {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .start,
    .destination,
    .start-point {
        margin: 100px auto;
    }
    .form_input {
        width: calc(92% - 20px);
    }
    #form h3 {
        font-size: 2rem;
    }
    .planet {
        width: 1000px;
    }
}

@media (max-height: 690px) and (min-height: 550px) {
    .header__title {
        padding: 0;
    }
    .header__item {
        bottom: 30px;
    }
}