@-webkit-keyframes scroll {
    0%,
    20% {
        -webkit-transform: translateY(0px) scaleY(-1) scaleX(-1) translateZ(0px);
        transform: translateY(0px) scaleY(-1) scaleX(-1) translateZ(0px);
    }
    10% {
        -webkit-transform: translateY(0px) scaleY(-1.2) scaleX(-1.2) translateZ(0px);
        transform: translateY(0px) scaleY(-1.2) scaleX(-1.2) translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-20px) scaleY(-2.5) scaleX(-0.5) translateZ(0px);
        transform: translateY(-20px) scaleY(-2.5) scaleX(-0.5) translateZ(0px);
        opacity: 0.01;
    }
}

@keyframes scroll {
    0%,
    20% {
        -webkit-transform: translateY(0px) scaleY(-1) scaleX(-1) translateZ(0px);
        transform: translateY(0px) scaleY(-1) scaleX(-1) translateZ(0px);
    }
    10% {
        -webkit-transform: translateY(0px) scaleY(-1.2) scaleX(-1.2) translateZ(0px);
        transform: translateY(0px) scaleY(-1.2) scaleX(-1.2) translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-20px) scaleY(-2.5) scaleX(-0.5) translateZ(0px);
        transform: translateY(-20px) scaleY(-2.5) scaleX(-0.5) translateZ(0px);
        opacity: 0.01;
    }
}

@-webkit-keyframes chevron {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes chevron {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.header__scroll {
    position: relative;
    width: 28px;
    height: 120px;
    margin: 0 auto;
}

.header__scroll:hover {
    cursor: pointer;
}

.header__scroll .mouse {
    border: 2px solid #000;
    border-radius: 26px;
    position: absolute;
    bottom: -20%;
    left: 48%;
    width: 23px;
    height: 43px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header__scroll .mouse::after {
    background-color: #000;
    border-radius: 100%;
    content: "";
    position: absolute;
    bottom: 6px;
    left: 50%;
    margin-left: -2px;
    width: 5px;
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

.header__scroll span {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -23%;
    left: 50%;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 0 0 0 -6px;
}

.header__scroll .one,
.header__scroll .two,
.header__scroll .three {
    -webkit-animation: chevron 2.5s infinite;
    animation: chevron 2.5s infinite;
}

.header__scroll .one {
    margin-top: 80px;
    -moz-animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.header__scroll .two {
    margin-top: 60px;
    -moz-animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -webkit-animation-direction: alternate;
}

.header__scroll .three {
    margin-top: 40px;
    -moz-animation-delay: .9s;
    -webkit-animation-delay: .9s;
    -webkit-animation-direction: alternate;
}