@media (max-width: 1400px) and (min-width: 340px) {
    .sub-page {
        padding: 0 10px;
		display: block;
		margin-top: 0;
    }

	.sub-header__item {
		display: block;
		width: 100%;
		margin: 0 auto 80px;
		text-align: center;
	}

	.sub-page__item {
        display: block;
        margin: 0 auto;
    }

    address {
        text-align: center;
    }
    .form-wrap {
        display: block;
        width: 100%;
        margin: 90px auto 20px;
    }
}

@media (max-width: 1400px) and (min-width: 860px) {
    .sub-page__item {
        width: 50%;
    }
}

@media (max-width: 860px) and (min-width: 340px) {
    .sub-page__item {
        width: 100%;
    }
    .form_input {
        width: calc(92% - 20px);
    }
    #form h3 {
        font-size: 2rem;
    }
}